<%= form_for(@recipe) do |f| %>
	<fieldset>
	    <ol>
	    	<p>
		        <%= f.label :name %>
		        <%= f.text_field :name, autofocus: true %><br />

		        <%= f.label :rating %>
		        <%= f.text_field :rating, autofocus: true %><br />


		        <%= f.label :servings %>
		        <%= f.text_field :servings, autofocus: true %><br />
		        
		        <%= f.label :target %>
		        <%= f.text_field :target, autofocus: true %><br />
		        
		        <%= f.label :time %>
		        <%= f.text_field :time, autofocus: true %><br />

		        <%= f.label :Ingredients %><br>
		    </p>
			<% f.fields_for :ingredients do |ing| %>
			    <p>
			      <%= ing.label :name %>
				  <%= ing.text_field :name, :size => 50 %>
			      
			    </p>
			  <% end -%>
			  <p>
			<%= f.submit 'Add ingredient', :name => "add_ingredient" %>
    		<%= f.submit 'Delete checked ingredients', :name => "remove_ingredient" %>
    		</p>

	    </ol>
	    <p>
	      <%= f.submit %>
	      <%= link_to "Cancel", recipes_path, class: 'button' %>
	      </li>
	    </p>
	</fieldset>
<% end %>