<h1>Recipes</h1>

<%@recipes.each do |recipe| %>
	<h2><%= recipe.name %></h2>
	<table>
          <tr>
            <th>Rating</th>
            <td><%= recipe.rating %></td>
          </tr>
          <tr>
            <th>Servings</th>
            <td><%= recipe.servings %></td>
          </tr>
          <tr>
            <th>Time</th>
            <td><%= recipe.time %></td>
          </tr>
        </table>
     <%= link_to 'Edit', edit_recipe_path(recipe), class: 'button' %> |
     <%= link_to 'Destroy', recipe, class: 'button', method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

