<h1>Recipes</h1>

<%= link_to 'Create New Recipe', new_recipe_path, class: 'button' %>

<%@recipes.each do |recipe| %>
  <h2><%= link_to recipe.name, recipe_path(recipe), class: 'button' %> </h2>
	<table>
          <tr>
            <th>Rating</th>
            <td><%= recipe.rating %></td>
          </tr>
          <tr>
            <th>Servings</th>
            <td><%= recipe.servings %></td>
          </tr>
          <tr>
            <th>Time</th>
            <td><%= recipe.time %></td>
          </tr>
        </table>
     <%= link_to 'Edit', edit_recipe_path(recipe), class: 'button' %> |
     <%= link_to 'Delete', recipe, class: 'button', method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<br>
<footer>
<%= link_to 'Return to Home', home_path, class: 'button' %>
</footer>
