<h2>Recipe Name: <%= @recipe.name %><br /></h2>
Rating: <%= @recipe.rating %> <br />
Servings: <%= @recipe.servings %><br />
Target: <%= @recipe.target %><br />
Time: <%= @recipe.time %><br />
<%= link_to "All Recipes", recipes_path%>